td.photo img {
  width: 150px;
  height: 150px;
  max-width: 150px;
  object-fit: cover;
}

.photo img {
width: 500px;
max-width: 100%;
}

.dropdown-menu .icon.fa.fa-search-plus.fa-fw::after {
  content: " Einzelansicht";
  font-family: "Titillium Web", Arial, sans-serif;
}

.dropdown-menu .icon.fa.fa-pencil.fa-fw::after {
content: " Bearbeiten";
font-family: "Titillium Web",Arial,sans-serif;
}

.dropdown-menu .icon.fa.fa-cog.fa-fw::after {
  content: " Bearbeiten";
  font-family: "Titillium Web", Arial, sans-serif;
}

.dropdown-menu .icon.fa.fa-trash.fa-fw::after {
  content: " Löschen";
  font-family: "Titillium Web", Arial, sans-serif;
}

.dropdown-menu .icon.fa.fa-ban.fa-fw.iconsmall::after {
  content: " Nicht freigeben";
  font-family: "Titillium Web", Arial, sans-serif;
}

.dropdown-menu .icon.fa.fa-thumbs-up.fa-fw.iconsmall::after {
  content: " Zulassen";
  font-family: "Titillium Web", Arial, sans-serif;
}

.dropdown-item:empty {
  display: none;
}


.unsetteaser * {
all: unset!important;
}
